[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme
[submodule "themes/hugo-product-launch"]
	path = themes/hugo-product-launch
	url = git@github.com:janraasch/hugo-product-launch.git
